<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
  <display-name>Meine WebApp</display-name>
  <servlet>
    <servlet-name>MeinServletName</servlet-name>
    <servlet-class>meineservletpkg.MeinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MeinServletNo2</servlet-name>
    <servlet-class>meineservletpkg.MeinServletNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeinServletName</servlet-name>
    <url-pattern>/helloservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MeinServletNo2</servlet-name>
    <url-pattern>/MeinServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
